.Bookings {
  margin-top: 4vw;
  margin-bottom: 4vw;
}
a {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
}

.bookingcard{
  display: Grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-evenly;
  padding: 2px;
  
}

